body {
    font-family: Arial, sans-serif;
    color: chocolate;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    color: darkblue;
}

pre {
   
    font-family: Arial, sans-serif;
    color: rgb(7, 1, 14);
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
}