body {
    font-family: Arial, sans-serif;
    color:  #01d922;
    margin: 40px;
    background-color: #16e0ee;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #acf10c;
}

pre {
    background-color: #360cf1;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
}